 
header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Emilys candy", serif;
    margin: 30px 0 80px 0;
    color: #c34bf7;
    text-shadow: 0 0 2px black;
}

body {
    background-image: linear-gradient(to right, #f250c7 , #03e8fc);
    color: #faf6f6
}

#container {
    display: flex;
    
}


.iceCreamCard {
    display: flex;
    max-width: 400px;
    border: 2px dashed #f250c7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cookieCard {
    display: flex;
    max-width: 400px;
    border: 2px dotted #03e8fc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#cookies, #icecream {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

}

.iceCreamPic, .cookiePic {
    width: 200px;
    margin-right: 10px;
}


#cookiesAnything, #iceCreamAnything {
    display: flex;
    flex-direction: column;

}

#cookieHeader {
    text-align: center;
    font-family: cursive;
    color: #03e8fc;
    text-shadow: 0 0 2px black;
}

#iceCreamHeader {
    text-align: center;
    font-family: cursive;
    color: #f250c7;
    text-shadow: 0 0 2px black;
}

.cookieName, .iceCreamName  {
    font-weight: bold;
    margin-bottom: 12px;
    font-family: cursive;
}


.iceCreamInfo, .cookieInfo {
    font-style: italic;
    font-family: sans-serif;
}

